.star-icon {
  width: 30px;
  height: 30px;
}
.star-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.star-icon:nth-child(2) {
  height: 40px;
  width: 40px;
}

@media (max-width: 350px) {
  .star-icon {
    width: 25px;
    height: 25px;
  }
}
