.answers-button-container {
  padding-top: 40px;
  display: grid;
  gap: 15px;
}
.answers-button-container .bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;
}

@media (max-width: 400px) {
  .answers-button-container {
    padding-top: 30px;
  }
}
