.navbar {
  width: 100%;
  background-color: var(--background-card);
  transition: var(--theme-background-transition);
}

.navbar-body {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-link {
  color: var(--text-color);
  font-size: 20px;
  transition: var(--theme-color-transition);
}
.navbar-link:hover {
  color: #6246ea;
}
