.level {
  padding: 5px 10px 10px;
  display: grid;
  row-gap: 5px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: var(--background-card);
  transition: var(--theme-background-transition), scale 0.5s;
}
.level:hover {
  scale: 1.15;
}
.level.unavailable {
  cursor: auto;
  opacity: 0.5;
  scale: 1;
}

.available {
}
